html, body
{
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: verdana, helvetica, sans-serif;
  color: #333333;
  height: 100%;
}

#left
{
	position: absolute;
	left: 10px;
	top: 74px;
	width: 200px;
	background:#fff;
}

#right
{
	background:#fff;
	margin-right: 0;
	voice-family: "\"}\"";
	voice-family: inherit;
	margin-left: 211px;
	margin-right:0;
}

a
{
	text-decoration: none;
	color: #0066cc
}

table
{
	width: 100%;
}

th
{
	font-weight: bold;
}

td
{
	padding: 0 0.5em;
	vertical-align: top;
}

#letters
{
	margin: 1em 0;
	text-align: center;
}

h1
{
	padding-top: 1em;
	font-size: 125%;
}

h2
{
	font-size: 105%;
}

dt
{
	padding-top: 0.5em;
}

#sections
{
	padding-top: 1em;
	list-style: none;
	font-size: 0.8em;
}

.subsections
{
	list-style: none;
	margin-left: -1em;
}
.download:before
{
	content:  url("images/package-x-generic.png"); 
	padding: 0 2px;
}

#download
{
	list-style: none;
}

#header
{
  background-image: url("images/top-bg.png");
  background-repeat: repeat-x;
  margin: 0;
  padding: 0;
  height: 64px;
  overflow: hidden;
}

#header h1
{
  text-align: right;
  margin: 0;
  color: #fdfdff;
  text-shadow: #000 2px 2px -5px;
  padding-right: 1em;
}

#footer
{
  text-align: center;
  font-size: 0.8em;
  clear: both;
  color: grey;
  background:#efefef;
  left: 0px;
  right: 0px;
  bottom:0px;
  height: 4em;
  margin:0;
}

.push {
  height: 4em;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em; /* the bottom margin is the negative value of the footer's height */
}
